<div class="posts">
    {% for post in paginator.posts limit:1 %}
    <div class="post-teaser">
        {% if post.thumbnail %}
        <div class="post-img">
            <a aria-label="{{ post.title }}" href="{{ post.url | relative_url }}">
                <img alt="{{ post.title }}" src="{{ post.thumbnail | relative_url }}">
            </a>
        </div>
        {% endif %}
        <span>
          <header>
            <h1>
              <a aria-label="{{ post.title }}" class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title }}
              </a>
            </h1>
            {% include post_info.html post=post %}
          </header>
          <div class="excerpt">
              {{ post.excerpt | strip_html | escape }}
          </div>
      </span>
    </div>
    {% endfor %}
</div>