<!-- teams Grid Section -->

<div class="teams-grid">
    {% for item in site.teams %}
    <div class="teams-cell">
        <a href="{{ item.url | relative_url }}" class="teams-link" data-keyboard="true">
            <div class="title"> <h3> {{ item.title }} </h3></div>
            <div class="caption" title="{{ item.title }}">
                    
                <div class="caption-content">
                   
                    <i class="fa fa-search-plus fa-3x"></i>
                </div>
            </div>
            <img src="{{ item.img | relative_url }}" class="" alt="">
        </a>
    </div>
    {% endfor %}
</div>
