---
layout: default
---

<div class="home">
  {% if site.theme_settings.header_text %}
  <div id="main" class="call-out"
  style="background-image: url('{{ site.theme_settings.header_feature_image | relative_url }}')">
    <h1> {{ site.theme_settings.header_text }} </h1>
  </div>
  {% endif %}

  <div class="content">
    {{ content }}
  </div>
{% include teams.html %}

<br/>

{% include first_post.html %}

</div>
