---
layout: default
---
<article {% if page.feature-img or page.color %}class="feature-image"{% endif %}>
  <header id="main" style="">
    {% unless page.hide_title %}
      <h1 id="{{ page.title | cgi_escape }}" class="title">{{ page.title }}</h1>
      {% include post_info.html post=page %}
    {% endunless %}
  </header>
  <section class="post-content">
  {% if page.bootstrap %}
    <div class="bootstrap-iso">
    {% endif %}
      {{ content }}
    {% if page.bootstrap %}
    </div>
  {% endif %}
  </section>

  <!-- Social media shares -->
  {% include share_buttons.html %}

   <!-- Tag list -->
  {% capture tag_list %}{{ page.tags | join: "|"}}{% endcapture %}
  {% include tags_list.html tags=tag_list %}

</article>
<!-- Post navigation -->
{% if site.theme_settings.post_navigation %}
  {% include post_nav.html %}
{% endif %}

<!-- Disqus -->
{% if site.theme_settings.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}


<!-- To change color of links in the page -->
<style>
  {% if page.color %}
    .feature-image a { color: {{ page.color }} !important; }
    div#post-nav a { color: {{ page.color }} !important; }
    footer a { color: {{ page.color }} !important; }
    .site-header nav a:hover {  color: {{ page.color }} !important; }
    header#main { background-color: {{ page.color }} !important; }
  {% endif %}

  {% if page.feature-img %}{% assign image_url = page.feature-img %}{% elsif page.color %}{% assign image_url = site.theme_settings.color_image %}{% endif %}
  header#main {
    background-repeat:no-repeat;
    background-image: url('{{ image_url | relative_url }}');
  }
</style>